h1 {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
}
h2 {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
}